<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ServiceID4SB" value="8"/>
    <add key="MessageTypeID" value="4"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="WSHttpBinding_IServiceBusService">
                    <textMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="WSHttpBinding_IServiceBusInterop">
                    <textMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="WSHttpBinding_ICallbackSubscriber">
                    <textMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
            </customBinding>
          <wsHttpBinding>
            <binding name="WSHttpBinding_IServiceBusService">
              <security mode="None"/>
            </binding>
          </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7075/WcfService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceBusService"
                contract="ServiceBus.IServiceBusService" name="WSHttpBinding_IServiceBusService" />
            <endpoint address="http://localhost:7075/WcfService"
                binding="customBinding" bindingConfiguration="WSHttpBinding_IServiceBusInterop"
                contract="ServiceBus.IServiceBusInterop" name="WSHttpBinding_IServiceBusInterop" />
            <endpoint address="http://localhost:7075/WcfService"
                binding="customBinding" bindingConfiguration="WSHttpBinding_ICallbackSubscriber"
                contract="ServiceBus.ICallbackSubscriber" name="WSHttpBinding_ICallbackSubscriber" />
        </client>
    </system.serviceModel>
</configuration>