<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="RecipientID" value="c4ae8b39-0988-40af-bf30-097bb12c00f1"/>
      <add key="Address" value="http://rtc-web:7076/HighwaySBWinPostgreSQLWebApiService"/>
    </appSettings>
</configuration>